Css for Color battle

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink;
  margin:0;
  padding: 0;
  justify-content: center;
}

.container{
  display:flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.game-board{
background-color: white;
border-radius: 8px;
box-shadow: 0 2px 4px rgba (0,0,0,0.1);
padding:20px;
text-align:center;
}
h1{
  background-color: aquamarine;
}
.player{
  margin:10px;
}

.player h2{
  font size: 200px;
  color: green;
}

.player p {
  font-size: 1.2rem;
  color: #333 
}

.roll-button{
  background-color: red;
  color: aliceblue;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dice-value{
  font size:1.5 px;
  color: black;
  margin-top: 20px;
}


